html{
    scroll-behavior: smooth;
}
.header-section{
    height: 650px;
    width: 100%;
    background: #F0FFF0;
}
.logo{
    
    width: 198.07px;
    height: 59px;
    left: 0;
    top: 0;
}
.nav-bar{
    margin-top: 30px;
}
.nav .nav-item .nav-link{
    font: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-radius: 33px;
}
.nav .nav-item .nav-link:hover{
    background-color: #21B573;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
    color: #FFFFFF;
    transition: 0.5s;
}
.bener-text{
    margin-top: 120px;
}
.bener-img{
    width: 554px;
    height: 346px;
}
small{
    font: Poppins;
    font-weight: 400;
    color: #FD511A;
    font-size: 16px;
    line-height: 24px;
}
h1{
    font: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
    text-align: left;
    padding: 15px 0px;
    color: #000000;
}
h1 span{
    color: #21B573;
}
p{
    font: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6B6B;
    padding: 10px 0pxs;
}
.btn{
    height: 43px;
    width: 153px;
    border-radius: 33px;
    padding: 12px, 36px, 12px, 36px;
    background: #21B573;
    margin-top: 20px;
    border: none;
    outline: none;
    color: #FFFFFF;
}
.btn:hover{
    color: #21B573;
    border: 2px solid #21B573;
    background: none;
}
.book-section{
    background-color: #E5E5E5;
    width: 100%;
    height: 360px;
   
}
.book-img{
    height: 85px;
    width: 66px;
}
.student-img{
    width: 80px;
    height: 83px;
}
.test-img{
    width: 75px;
    height: 80px;
}
.students-img{
    width: 68px;
    height: 76px;
}
.box{
    background: #F8FFFB;
    width: 270px;
    height: 270px;
    border-radius: 10px;
    margin-top: 42px;
    text-align: center;
}
.box:hover{
    background: #FFFFFF;
    transition: .4s;
    cursor: pointer;
    box-shadow: 0px 20px 40px 0px rgba(58, 57, 57, 0.3);

}
.student-img, h4{
    text-align: center;
    padding: 0;
}
h4{
    margin-top: 35px;
    font-weight: bold;
    color: #413960;
    font-family: Poppins;
}
.box small{
    color: #585859;
}
.course-section{
    width: 100%;
    height: 650px;
    background-color: #F0FFF0;
}

.course-text{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: rgba(65, 57, 96, 1);
}
.card{
    border-radius: 18px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}
.card-hight{
    height: 483px;
}
.col-sm-5{
    float: right;
}
.card-img-top{
    width: 312px;
    height: 215px;
    margin: auto;
    margin-top: 24px;
}
.text-muted{
    padding: 2px 3px;
    color: rgba(88, 88, 89, 1);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}
.cal-img{
    width: 24px;
    height: 24px;
}

.testimonial-section{
    width: 100%;
    height: 400px;
    background-color: #f8f1f1;
}
.testimonial-text{
    padding-top: 60px;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    color: rgba(0, 0, 0, 1);
}
.testimonial-box{
    margin-top: 30px;
}
.testimonial-img{
    width: 120px;
    height: 120px;
}
.test-text {
    height: 90px;
    width: 580px;
    margin-left: 40px;
    color: rgba(0, 0, 0, 1);
}
.test-text p{
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
}
.footer-section{
    background-color: rgb(29, 27, 27);
    width: 100%;
    height: 369px;
}
.col-lg-4 p{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}
.footer-section h5{
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);
}
.mb-2{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);
}
.copy-right{
    text-align: center;
    padding-top: 15px;
}
.copy-right small{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color:rgba(205, 205, 205, 1);
}